*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    background-color: rgb(22, 22, 22);
    
}

h2{
    margin-top: 80px;
    margin-bottom: 30px;
}
h3{
    display: inline;
    margin: 50px 50px;
}

img{
display: none;
}

.ActiveImage{
    display: block;
    width: 20%;

}

#Image_Container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

input::file-selector-button {
    padding: 8px 30px;
    background-color: rgb(138, 138, 138);
    border: none;
    color: white;
    margin-right: 20px ;

}
input[type=submit] {
    background-color: rgb(138, 138, 138);
    padding: 10px 30px;
    border: none;
    margin: 30px 0px;
}