.navbar {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 30px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #ff9900;
  }
  